/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.lightGrey {
  color: #f2f4f6;
}
.mediumGreen {
  color: #1ee3cf;
}
.blue {
  color: #6b48ff;
}
.darkBlue {
  color: #0d3f67;
}
.darkYellow {
  color: #a4a71e;
}
.yellow {
  color: #d6ce15;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 1100px;
  background-color: #f2f4f6;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1.6rem;
}
header nav a {
  text-decoration: none;
  color: #0d3f67;
  font-family: "Acme", sans-serif;
}
header nav a :hover {
  color: #d6ce15;
}
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.6rem;
  padding-left: 4rem;
}
.introduction h1 {
  font-size: 3rem;
  padding-top: 14rem;
  color: #6b48ff;
  font-family: "Acme", sans-serif;
}
.introduction img {
  border: 2px solid #d6ce15;
  width: 30%;
  position: relative;
  padding: 1%;
}
.introduction h2 {
  font-size: 3rem;
  padding-top: 14rem;
  padding-left: 0.5rem;
  color: #6b48ff;
  font-family: "Acme", sans-serif;
}
.intro-p p {
  font-size: 1.3rem;
  color: #0d3f67;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  padding-left: 7.5rem;
}
.skills {
  display: flex;
  flex-direction: column;
  background-color: #ced6e0;
}
.skills h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 15rem;
  font-family: "Acme", sans-serif;
}
.skills .skills-list {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  padding-left: 9rem;
}
.skills .skills-list ul {
  padding: 1%;
  padding-top: 5%;
}
.skills .skills-list ul li p {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #6b48ff;
}
.skills .skills-list img {
  width: 80%;
  position: relative;
  padding: 1%;
  padding-top: 5%;
  padding-left: 2rem;
}
.history {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.history h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding-top: 2rem;
  padding-left: 7rem;
  font-family: "Acme", sans-serif;
}
.history .history-boxes {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.history .history-boxes .boxes h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Archivo Black", sans-serif;
}
.history .history-boxes .boxes p {
  padding-left: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #1ee3cf;
}
.contact h2 {
  display: flex;
  justify-content: left;
  padding-left: 6rem;
  font-size: 1.3rem;
  font-family: "Archivo Black", sans-serif;
}
.contact ul {
  display: flex;
  justify-content: right;
  padding-top: 2rem;
}
.contact ul li a {
  font-size: 1rem;
  text-decoration: none;
  padding-left: 6.5rem;
  color: #1f2606;
}
